.catalog {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 13.5rem), 1fr));
    background-color: rgb(16, 12, 29);
    padding: 1rem;
    justify-items: center;
}
.loadingMorePokemons{
    font-size: 1.5em;
    text-align: center;
}
@media screen and (min-width: 758px) {

    .catalog {
        width: 70%;
        margin: auto;
    }

}