.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
}
.contentSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    place-items: center;
}
.img{
    object-fit: contain;
    width: 50%;
    max-height: 18.75rem;
}
.ul {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    box-shadow: 0 0 0 .2rem rgba(116, 167, 218, 0.9);
    border-radius: 1rem;
}
.li{
    text-indent: .3em;
    line-height: 1.5em;
}