.content p{
    color: rgb(158, 160, 165);
    line-height: 2em;
}
.contentSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
    place-items: center;
}
.contentImg {
    display: grid;
    place-items: center;
    box-shadow: 0 0 1px 5px #fff;
    background: linear-gradient( 75deg, #D5D5D5 50%, #F5F5F5 50%);
    max-width: 30rem;
    width: 80%;
    min-width: 16rem;
    height: 30rem;

}

.img{
    width: 16rem;
    height: 16rem;
}
.contentText{
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}
.contentDescription {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    grid-column: 1/-1;   
}
.h3 {
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 2rem;
    border-bottom: 3px solid #000;
}
