.content{
    display: grid;
    
}
.contentSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.img{
    
}
@media screen and (min-width: 758px) {

    .content {
        width: 70%;
        margin: auto;
    }

}