.section{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 12.5rem), 1fr));
    padding: 1rem;
    justify-items: center;
}
.contentLoading{
    position: relative;
}