
.title {
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 999;
  text-align: center;
  padding: 1rem;
  font-size: 1.2em;
}
.cartoon {
	border: 2px solid rgba(139, 134, 134, 0.9);
	border-radius: 10px;
	padding: 1rem .3rem;
	background: rgba(255, 255, 255, 0.9);
	color:var(--fontColor);
	position: fixed;
	bottom: .5rem;
	right: .5rem;
	z-index: 999999;
	min-width: 5rem;
}